backend:
  name: git-gateway
  branch: dev

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "blog-post",
        }
      - { label: "Title", name: "title", widget: "string" }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Featured Post", name: "featuredpost", widget: "boolean" }
      - { label: "Featured Image", name: "featuredimage", widget: image }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }
  - name: "landing-page"
    label: "Página inicial"
    folder: "src/pages/landing"
    create: true
    slug: "index-{{language}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "landing-page",
        }
      - { label: "Link base", name: "baseUrl", widget: "string", default: "/" }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - { label: "Title", name: "title", widget: "string" }
      - {
          label: "Banner",
          name: "banner",
          widget: "image",
          hint: "Imagem da chamada principal (2:1)",
        }
      - label: "Textos do banner"
        name: "bannerContent"
        widget: "object"
        fields:
          - label: "Chamada"
            name: "header"
            widget: "string"
          - label: "Conteúdo"
            name: "content"
            widget: "text"
      - label: "O que fazemos"
        name: "ourWork"
        widget: "markdown"
      - label: "Manifesto"
        name: "manifest"
        widget: "object"
        fields:
          - label: "Título"
            name: "title"
            widget: "string"
          - label: "Conteúdo"
            name: "content"
            widget: "list"
            fields:
              - label: "Titulo"
                name: "title"
                widget: "string"
              - label: "Conteúdo"
                name: "content"
                widget: "markdown"
      - label: "Nos contrate (en)"
        name: "hireUs"
        widget: "markdown"
      - label: "Estamos contratando"
        name: "weAreHiring"
        widget: "markdown"
  - name: "project"
    label: "Projetos"
    folder: "src/pages/projects"
    create: true
    slug: "{{slug}}-{{language}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "project-page",
        }
      - {
          label: "Link base",
          name: "baseUrl",
          widget: "string",
          default: "projetos",
        }
      - {
          label: "Mostrar na página principal",
          name: "featured",
          widget: "boolean",
          default: false,
        }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - { label: "Nome", name: "title", widget: "string" }
      - label: "Tecnologia"
          name: "technology"
          collection: "technologies"
          searchFields: ["title"]
          valueField: "title"
          multiple: true
          displayFields: ["title"]
      - { label: "Descrição curta", name: "summary", widget: "string" }
      - { label: "Descrição completa", name: "body", widget: "markdown" }
      - { label: "Nome do cliente", name: "clientName", widget: "string" }
      - {
          label: "Localização do cliente",
          name: "clientLocation",
          widget: "string",
        }
      - {
          label: "Horas de desenvolvimento",
          name: "devTime",
          widget: "number",
          valueType: "int",
        }
      - {
          label: "Meses de desenvolvimento",
          name: "devMonths",
          widget: "number",
          valueType: "int",
        }
      - {
          label: "Imagem",
          name: "image",
          widget: "image",
          hint: "Imagem principal do projeto (2:1)",
        }
      - {
          label: "Thumbnail",
          name: "thumbnailImage",
          widget: "image",
          hint: "Imagem para thumbnail do projeto (1:1)",
        }
      - { label: "Tags", name: "tags", widget: "list" }
  - name: "testimony"
    label: "Depoimentos"
    folder: "src/pages/testimonies"
    create: true
    slug: "{{slug}}-{{language}}"
    fields:
      - { label: "Nome da pessoa", name: "title", widget: "string" }
      - {
          label: "Foto",
          name: "avatar",
          widget: "image",
          hint: "Imagem da pessoa (1:1)",
        }
      - {
          label: "Base Url",
          name: "baseUrl",
          widget: "hidden",
          default: "testimony",
        }
      - {
          label: "Nome da empresa ou cliente",
          name: "clientName",
          widget: "string",
        }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - { label: "Depoimento", name: "testimony", widget: "text" }
      - { label: "Tags", name: "tags", widget: "list" }
  - name: "services"
    label: "Serviços"
    folder: "src/pages/services"
    slug: "{{slug}}-{{language}}"
    create: true
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "service-page",
        }
      - {
          label: "Link base",
          name: "baseUrl",
          widget: "string",
          default: "servicos",
        }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Corpo", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }
  - name: "technologies"
    label: "Tecnologias"
    folder: "src/pages/technologies"
    slug: "{{slug}}-{{language}}"
    create: true
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "technology-page",
        }
      - {
          label: "Link base",
          name: "baseUrl",
          widget: "string",
          default: "tecnologias",
        }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - { label: "Título", name: "title", widget: "string" }
      - {
          label: "Logo",
          name: "logo",
          widget: "image",
          hint: "Imagem com mesma altura e largura (1:1) e fundo transparente",
        }
      - { label: "Cor de fundo", name: "bgColor", widget: "color" }
      - {
          label: "Mostrar na página principal",
          name: "featured",
          widget: "boolean",
          default: false,
        }
      - { label: "Resumo", name: "summary", widget: "string" }
      - { label: "Corpo", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }
  - name: "about"
    label: "Página Sobre nós"
    folder: "src/pages/about"
    create: true
    slug: "index-{{language}}"
    fields:
      - label: "Título"
        name: "title"
        widget: "string"
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "about-page",
        }
      - {
          label: "Link base",
          name: "baseUrl",
          widget: "string",
          default: "sobre",
        }
      - {
          label: "Language",
          name: "language",
          widget: "select",
          options:
            [
              { label: "Português", value: "pt" },
              { label: "Inglês", value: "en" },
            ],
          default: "pt",
        }
      - label: "Página"
        name: "body"
        widget: "markdown"
